/* clearfix */

.cf:before, .cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}


/* page */

body {
  font-family: Consolas, monaco, monospace;
  font-size: 3em;
}

h1 {
  text-align: center;
  color: white;
  background-color: blue;
  margin-top: 0;
  margin-bottom: 0.5ex;
}

h1.right {
  background-color: green;
}

h1.wrong {
  background-color: red;
}

h1.link:hover {
  background-color: black;
}

h1.link {
  margin-bottom: 0.25ex;
}

h1.more_help {
  margin-top: 0.5ex;
}

input {
  font-size: 20px;
  font-family: Consolas, monaco, monospace;
  border: 1;
  border-radius: 5px;
  padding: 15px;
  width: 470px;
}

p.right {
  text-align: center;
  background-color: green;
  display: block;
  float: left;
  width: 50%;
}

p.wrong {
  text-align: center;
  background-color: red;
  display: block;
  float: right;
  width: 50%;
}

div.score {
  margin-bottom: 0.5ex;
}

div.container, div.help {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
}

div.help {
  font-size: 0.75em;
}

a {
  text-decoration: none;
  color: white;
}
