<h1>About</h1>

<div class="container">
  This app was created for developers who might be perplexed by ActiveRecord convention. We hope this app will aid you in your adventures with ActiveRecord and Ruby on Rails.
</div>

<div class="container">
  Built at Launch Academy in Boston, Massachusetts, USA.
</div>

<h1 class="link">
  <a href="http://www.launchacademy.com/">CHECK US OUT</a>
</h1>

<h1 class="link">
  <a href="http://www.github.com/launchacademy/ar-naming/">GITHUB REPO</a>
</h1>

<h1 class="link">
  <a href="/">START OVER</a>
</h1>
