<p>Your Model is called '<%= @challenge.model %>'. What is the <%= @question.humanize %>?</p>

<form action="/challenge" method="post">
  <label for="answer">Answer:</label>
  <input id="answer" type="text" name="answer" />

  <input id="challenge_id" type="hidden" name="challenge_id" value="<%= @challenge.id %>" />

  <input id="question" type="hidden" name="question" value="<%= @question %>" />

  <input type="submit" value="Submit" />
</form>
