<h1>ActiveRecord Challenge</h1>

<div class="container">
  <p>Your Model is called '<%= @challenge.model %>'. What is the <%= @question.humanize %>?</p>

  <form action="/challenge" method="post">
    <label for="submission">Answer:</label>
    <input id="submission" type="text" name="submission" />

    <input id="challenge_id" type="hidden" name="challenge_id" value="<%= @challenge.id %>" />

    <input id="question" type="hidden" name="question" value="<%= @question %>" />

    <input type="submit" value="Submit" />
  </form>
</div>
