<% if @result %>
  <h1 class="right">Correct!</h1>
<% else %>
  <h1>Wrong! The correct answer was '<%= @correct_answer %>'</h1>
<% end %>

<div class="score cf">
  <p class="right">Right: <%= session[:right] %></p>
  <p class="wrong">Wrong: <%= session[:wrong] %></p>
</div>

<h1 class="link">
  <a href="/challenge">Try again?</a>
</h1>
