<h1>Help</h1>

<div class="container">
  <p>Unsure of what to call something in Rails? We're here to help you out.</p>

  <form action="/help" method="post">
    <label for="subject">Model:</label>
    <input id="subject" type="text" name="subject" required value="Squid" />
    <input type="submit" value="Submit" />
  </form>
</div>
