<h1>Help</h1>

<div class="container">
  <p>Unsure of what to call something in Rails? We're here to help you out.</p>

  <form action="/help" method="post">
    <label for="model_name">Model:</label>
    <input id="model_name" type="text" name="model_name" required value="Magazine Article" />
    <input type="submit" value="Submit" />
  </form>
</div>
