<h1>ActiveRecord Naming Challenge</h1>

<div class="container">
  <p>This webapp tests your ability to adhere to AR naming conventions. Do you have what it takes?</p>
</div>

<h1 class="link">
  <a href="/challenge">LET'S GET STARTED</a>
</h1>
