<% if @result %>
  <h1 class="right">Correct!</h1>
<% else %>
  <h1>Wrong! The correct answer was '<%= @correct_answer %>'</h1>
<% end %>

<h2>Score</h2>
<p>Right: <%= session[:right] %></p>
<p>Wrong: <%= session[:wrong] %></p>

<a href="/challenge">Try again?</a>
